
header{
    background-color: #42e6a4;
    color: #000000;
    padding: 5px;
    text-align: center;
}

/*section padre*/
.left-right{
    display:flex;
    width: 100%;
}

/*para colocar las columnas una al lado de otra*/
h2{
    text-align: center;
}
.l1-lorem{
    background: #ff896b;
    color: #000000;
    padding: 10px;
    /* width: 50; */
    margin: 25px 50px 25px 25px;
    height: 400px;
}

.l2a-lorem{
    background: #02a8a8;
    color: #000000;
    padding: 50px;
    /* width: 12.5%; */
    margin: 25px 25px;
    height: 100px;
}

.l2b-lorem{
    background: #02a866;
    color: #000000;
    padding: 50px;
    /* width: 12.5%; */
    margin: 25px 25px;
    height: 100px;
}

.l2c-lorem{
    background: #6fc1a5;
    color: #000000;
    padding: 50px;
    /* width: 12.5%; */
    margin: 25px 25px;
    height: 100px;
}

.l2d-lorem{
    background: #dff6f0;
    color: #000000;
    padding: 50px;
    /* width: 12.5%; */
    margin: 25px 25px;
    height: 100px;
}
.l3-lorem{
    background: #c2b0c9;
    color: #000000;
    padding: 20px;
    width: 50%;
    margin: 25px;
    height: 200px;
}

.l4-lorem{
    background: #e9ea77;
    color: #000000;
    padding: 20px;
    width: 50%;
    margin: 25px;
    height: 200px;
}

.l5-lorem{
    background: #ff896b;
    color: #000000;
    padding: 20px;
    width: 50%;
    margin: 25px;
    height: 200px;
}
